body {
  background: #dcdde1;
  font-family: 'Noto Sans', sans-serif; }

html {
  scroll-behavior: smooth; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track-piece {
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  display: block;
  width: 10px;
  cursor: pointer;
  background: #bdc3c7;
  border-radius: 10px; }

.logo:active {
  transform: translateY(1px); }

.about-blog {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  background: black;
  padding: 15px;
  padding-bottom: 100px;
  text-align: left;
  color: #dfe6e9; }
  .about-blog h1 {
    float: left;
    border-bottom: 3px solid;
    font-size: 48px;
    margin: 0 0 20px 0; }

header {
  opacity: 1;
  position: fixed;
  background: white;
  margin: 0;
  z-index: 1;
  width: 100%;
  background: #dff9fb; }

div, main, body {
  padding: 0;
  margin: 0; }

.no-float {
  float: none; }

.thenav {
  transition: 0.2s;
  list-style: none;
  float: left;
  font-size: 16px;
  font-weight: 600;
  margin: 5px;
  cursor: pointer; }
  .thenav a {
    text-decoration: none;
    color: black; }

a {
  cursor: pointer;
  text-decoration: underline; }

.cont-desc {
  text-align: left;
  padding-bottom: 100px; }
  .cont-desc img {
    border: 2px solid black;
    margin: 5px;
    margin-bottom: 20px; }

nav {
  margin: 10px;
  float: right; }

main {
  text-align: center; }

.pers1, .pers2 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap; }

.ad {
  background: #6c5ce7;
  padding: 1px 5px 1px 5px;
  border-radius: 3px;
  color: white; }

footer {
  height: 30px;
  color: #dcdde1;
  font-size: 12px;
  margin: 0;
  background-color: #30336b;
  padding: 10px 20px 10px 20px; }

.video {
  object-fit: fill;
  margin: 0;
  padding: 0;
  height: 110vh;
  width: 100%;
  opacity: 0.2; }

.greeting-cover {
  position: absolute;
  max-width: 800px;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: inherit; }
  .greeting-cover button {
    transition: 0.3s;
    background: inherit;
    color: white;
    border: 1px #f0932b solid;
    outline: none;
    width: 50%;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 3px; }
  .greeting-cover button:hover {
    color: black;
    background: #ffbe76; }

.description-cover {
  margin-top: 20px; }

.thenav:hover {
  border-bottom: 3px solid black;
  transform: translateY(2px); }

.menu-button {
  display: none;
  float: right;
  margin: 25px;
  cursor: pointer; }

.agreements {
  float: right; }

.help-blog {
  margin: 0;
  padding: 5px;
  padding-bottom: 100px;
  background: #f39c12; }
  .help-blog h1, .help-blog h2 {
    margin: 0;
    padding: 0; }
  .help-blog input, .help-blog textarea {
    height: 50px;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #ecf0f1;
    background: #ecf0f1;
    font-size: 18px;
    margin: 5px;
    width: 80%;
    max-width: 600px;
    transition: 0.2s; }
  .help-blog textarea {
    resize: none;
    font-family: 'Noto Sans', sans-serif;
    height: 150px; }
  .help-blog input:focus, .help-blog textarea:focus {
    transform: translateY(2px); }

.toby {
  float: right; }

@media screen and (max-width: 360px) {
  .pers1, .pers2 {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column wrap; }
  .cont-desc img {
    width: 75px;
    height: 75px; }
  footer {
    height: 60px; }
  .agreements {
    float: none; }
  .can-hide {
    display: none; }
  .menu-button {
    display: block;
    margin-left: 0; }
  .menu-button:active {
    transform: translateY(1px); }
  .ad {
    margin-top: 1px;
    margin-right: 0;
    text-align: center; } }

@media screen and (max-width: 500px) and (min-width: 360px) {
  .cont-desc img {
    width: 75px;
    height: 75px; }
  footer {
    height: 60px; }
  .agreements {
    float: none; }
  .can-hide {
    display: none; }
  .menu-button {
    display: block;
    margin-left: 0; }
  .menu-button:active {
    transform: translateY(1px); }
  .ad {
    margin-top: 1px;
    margin-right: 0;
    text-align: center; }
  .toby {
    float: none; } }

@media screen and (max-width: 700px) and (min-width: 501px) {
  .can-hide {
    display: none; }
  .cont-desc img {
    width: 100px;
    height: 100px; }
  .menu-button {
    display: block;
    margin-left: 0; }
  .menu-button:active {
    transform: translateY(1px); }
  .ad {
    margin-top: 1px;
    margin-right: 0;
    text-align: center; } }

.menu-nav {
  list-style: none;
  margin: 10px;
  font-weight: bold;
  font-size: 18px; }

.ham-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  align-content: flex-start;
  border-top: 2px white solid;
  width: 100%;
  height: 175px;
  transition: 0.4s; }

.hidden {
  display: none; }

* {
  outline: none;
  box-sizing: border-box; }

@media not screen and (max-width: 700px) {
  .ham-nav {
    display: none; } }
